<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huaan.mes.md.mapper.CysCpjyMapper">
    
    <resultMap type="CysCpjy" id="CysCpjyResult">
        <result property="fpiId"    column="fpi_id"    />
        <result property="fpiCode"    column="fpi_code"    />
        <result property="workorderId"    column="workorder_id"    />
        <result property="workorderCode"    column="workorder_code"    />
        <result property="brand"    column="brand"    />
        <result property="batchNumber"    column="batch_number"    />
        <result property="productStatus"    column="product_status"    />
        <result property="productThickness"    column="product_thickness"    />
        <result property="productWidth"    column="product_width"    />
        <result property="tensileStrength"    column="tensile_strength"    />
        <result property="elongation"    column="elongation"    />
        <result property="hardness"    column="hardness"    />
        <result property="cupConvexValue"    column="cup_convex_value"    />
        <result property="electricalConductivity"    column="electrical_conductivity"    />
        <result property="inspectionType"    column="inspection_type"    />
        <result property="inspectionTime"    column="inspection_time"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="qualityJudgment"    column="quality_judgment"    />
        <result property="abnormalCause"    column="abnormal_cause"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCysCpjyVo">
        select fpi_id, fpi_code, workorder_id, workorder_code, brand, batch_number, product_status, product_thickness, product_width, tensile_strength, elongation, hardness, cup_convex_value, electrical_conductivity, inspection_type, inspection_time, user_id, user_name, quality_judgment, abnormal_cause, remark, create_by, create_time, update_by, update_time from cys_cpjy
    </sql>

    <select id="selectCysCpjyList" parameterType="CysCpjy" resultMap="CysCpjyResult">
        <include refid="selectCysCpjyVo"/>
        <where>  
            <if test="fpiCode != null  and fpiCode != ''"> and fpi_code = #{fpiCode}</if>
            <if test="workorderId != null "> and workorder_id = #{workorderId}</if>
            <if test="workorderCode != null  and workorderCode != ''"> and workorder_code = #{workorderCode}</if>
            <if test="brand != null  and brand != ''"> and brand = #{brand}</if>
            <if test="batchNumber != null  and batchNumber != ''"> and batch_number = #{batchNumber}</if>
            <if test="productStatus != null  and productStatus != ''"> and product_status = #{productStatus}</if>
            <if test="productThickness != null "> and product_thickness = #{productThickness}</if>
            <if test="productWidth != null "> and product_width = #{productWidth}</if>
            <if test="tensileStrength != null "> and tensile_strength = #{tensileStrength}</if>
            <if test="elongation != null "> and elongation = #{elongation}</if>
            <if test="hardness != null "> and hardness = #{hardness}</if>
            <if test="cupConvexValue != null "> and cup_convex_value = #{cupConvexValue}</if>
            <if test="electricalConductivity != null "> and electrical_conductivity = #{electricalConductivity}</if>
            <if test="inspectionType != null  and inspectionType != ''"> and inspection_type = #{inspectionType}</if>
            <if test="inspectionTime != null "> and inspection_time = #{inspectionTime}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="qualityJudgment != null  and qualityJudgment != ''"> and quality_judgment = #{qualityJudgment}</if>
            <if test="abnormalCause != null  and abnormalCause != ''"> and abnormal_cause = #{abnormalCause}</if>
        </where>
        ORDER BY create_time DESC
    </select>
    
    <select id="selectCysCpjyByFpiId" parameterType="String" resultMap="CysCpjyResult">
        <include refid="selectCysCpjyVo"/>
        where fpi_id = #{fpiId}
    </select>
        
    <insert id="insertCysCpjy" parameterType="CysCpjy" useGeneratedKeys="true" keyProperty="fpiId">
        insert into cys_cpjy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fpiCode != null">fpi_code,</if>
            <if test="workorderId != null">workorder_id,</if>
            <if test="workorderCode != null">workorder_code,</if>
            <if test="brand != null">brand,</if>
            <if test="batchNumber != null">batch_number,</if>
            <if test="productStatus != null">product_status,</if>
            <if test="productThickness != null">product_thickness,</if>
            <if test="productWidth != null">product_width,</if>
            <if test="tensileStrength != null">tensile_strength,</if>
            <if test="elongation != null">elongation,</if>
            <if test="hardness != null">hardness,</if>
            <if test="cupConvexValue != null">cup_convex_value,</if>
            <if test="electricalConductivity != null">electrical_conductivity,</if>
            <if test="inspectionType != null">inspection_type,</if>
            <if test="inspectionTime != null">inspection_time,</if>
            <if test="userId != null">user_id,</if>
            <if test="userName != null">user_name,</if>
            <if test="qualityJudgment != null">quality_judgment,</if>
            <if test="abnormalCause != null">abnormal_cause,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fpiCode != null">#{fpiCode},</if>
            <if test="workorderId != null">#{workorderId},</if>
            <if test="workorderCode != null">#{workorderCode},</if>
            <if test="brand != null">#{brand},</if>
            <if test="batchNumber != null">#{batchNumber},</if>
            <if test="productStatus != null">#{productStatus},</if>
            <if test="productThickness != null">#{productThickness},</if>
            <if test="productWidth != null">#{productWidth},</if>
            <if test="tensileStrength != null">#{tensileStrength},</if>
            <if test="elongation != null">#{elongation},</if>
            <if test="hardness != null">#{hardness},</if>
            <if test="cupConvexValue != null">#{cupConvexValue},</if>
            <if test="electricalConductivity != null">#{electricalConductivity},</if>
            <if test="inspectionType != null">#{inspectionType},</if>
            <if test="inspectionTime != null">#{inspectionTime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="userName != null">#{userName},</if>
            <if test="qualityJudgment != null">#{qualityJudgment},</if>
            <if test="abnormalCause != null">#{abnormalCause},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCysCpjy" parameterType="CysCpjy">
        update cys_cpjy
        <trim prefix="SET" suffixOverrides=",">
            <if test="fpiCode != null">fpi_code = #{fpiCode},</if>
            <if test="workorderId != null">workorder_id = #{workorderId},</if>
            <if test="workorderCode != null">workorder_code = #{workorderCode},</if>
            <if test="brand != null">brand = #{brand},</if>
            <if test="batchNumber != null">batch_number = #{batchNumber},</if>
            <if test="productStatus != null">product_status = #{productStatus},</if>
            <if test="productThickness != null">product_thickness = #{productThickness},</if>
            <if test="productWidth != null">product_width = #{productWidth},</if>
            <if test="tensileStrength != null">tensile_strength = #{tensileStrength},</if>
            <if test="elongation != null">elongation = #{elongation},</if>
            <if test="hardness != null">hardness = #{hardness},</if>
            <if test="cupConvexValue != null">cup_convex_value = #{cupConvexValue},</if>
            <if test="electricalConductivity != null">electrical_conductivity = #{electricalConductivity},</if>
            <if test="inspectionType != null">inspection_type = #{inspectionType},</if>
            <if test="inspectionTime != null">inspection_time = #{inspectionTime},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="qualityJudgment != null">quality_judgment = #{qualityJudgment},</if>
            <if test="abnormalCause != null">abnormal_cause = #{abnormalCause},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where fpi_id = #{fpiId}
    </update>

    <delete id="deleteCysCpjyByFpiId" parameterType="String">
        delete from cys_cpjy where fpi_id = #{fpiId}
    </delete>

    <delete id="deleteCysCpjyByFpiIds" parameterType="String">
        delete from cys_cpjy where fpi_id in 
        <foreach item="fpiId" collection="array" open="(" separator="," close=")">
            #{fpiId}
        </foreach>
    </delete>
</mapper>