<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huaan.mes.md.mapper.CysJqMapper">
    
    <resultMap type="CysJq" id="CysJqResult">
        <result property="sawingId"    column="sawing_id"    />
        <result property="sawingCode"    column="sawing_code"    />
        <result property="workorderId"    column="workorder_id"    />
        <result property="workorderCode"    column="workorder_code"    />
        <result property="brand"    column="brand"    />
        <result property="batchNumber"    column="batch_number"    />
        <result property="castingData"    column="casting_data"    />
        <result property="beforeSawing"    column="before_sawing"    />
        <result property="afterSawing"    column="after_sawing"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="qualityJudgment"    column="quality_judgment"    />
        <result property="abnormalCause"    column="abnormal_cause"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCysJqVo">
        select sawing_id, sawing_code, workorder_id, workorder_code, brand, batch_number, casting_data, before_sawing, after_sawing, user_id, user_name, quality_judgment, abnormal_cause, remark, create_by, create_time, update_by, update_time from cys_jq
    </sql>

    <select id="selectCysJqList" parameterType="CysJq" resultMap="CysJqResult">
        <include refid="selectCysJqVo"/>
        <where>  
            <if test="sawingCode != null  and sawingCode != ''"> and sawing_code = #{sawingCode}</if>
            <if test="workorderId != null "> and workorder_id = #{workorderId}</if>
            <if test="workorderCode != null  and workorderCode != ''"> and workorder_code = #{workorderCode}</if>
            <if test="brand != null  and brand != ''"> and brand = #{brand}</if>
            <if test="batchNumber != null  and batchNumber != ''"> and batch_number = #{batchNumber}</if>
            <if test="castingData != null "> and casting_data = #{castingData}</if>
            <if test="beforeSawing != null "> and before_sawing = #{beforeSawing}</if>
            <if test="afterSawing != null "> and after_sawing = #{afterSawing}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="qualityJudgment != null  and qualityJudgment != ''"> and quality_judgment = #{qualityJudgment}</if>
            <if test="abnormalCause != null  and abnormalCause != ''"> and abnormal_cause = #{abnormalCause}</if>
        </where>
    </select>
    
    <select id="selectCysJqBySawingId" parameterType="String" resultMap="CysJqResult">
        <include refid="selectCysJqVo"/>
        where sawing_id = #{sawingId}
    </select>
        
    <insert id="insertCysJq" parameterType="CysJq" useGeneratedKeys="true" keyProperty="sawingId">
        insert into cys_jq
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sawingCode != null">sawing_code,</if>
            <if test="workorderId != null">workorder_id,</if>
            <if test="workorderCode != null">workorder_code,</if>
            <if test="brand != null">brand,</if>
            <if test="batchNumber != null">batch_number,</if>
            <if test="castingData != null">casting_data,</if>
            <if test="beforeSawing != null">before_sawing,</if>
            <if test="afterSawing != null">after_sawing,</if>
            <if test="userId != null">user_id,</if>
            <if test="userName != null">user_name,</if>
            <if test="qualityJudgment != null">quality_judgment,</if>
            <if test="abnormalCause != null">abnormal_cause,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sawingCode != null">#{sawingCode},</if>
            <if test="workorderId != null">#{workorderId},</if>
            <if test="workorderCode != null">#{workorderCode},</if>
            <if test="brand != null">#{brand},</if>
            <if test="batchNumber != null">#{batchNumber},</if>
            <if test="castingData != null">#{castingData},</if>
            <if test="beforeSawing != null">#{beforeSawing},</if>
            <if test="afterSawing != null">#{afterSawing},</if>
            <if test="userId != null">#{userId},</if>
            <if test="userName != null">#{userName},</if>
            <if test="qualityJudgment != null">#{qualityJudgment},</if>
            <if test="abnormalCause != null">#{abnormalCause},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCysJq" parameterType="CysJq">
        update cys_jq
        <trim prefix="SET" suffixOverrides=",">
            <if test="sawingCode != null">sawing_code = #{sawingCode},</if>
            <if test="workorderId != null">workorder_id = #{workorderId},</if>
            <if test="workorderCode != null">workorder_code = #{workorderCode},</if>
            <if test="brand != null">brand = #{brand},</if>
            <if test="batchNumber != null">batch_number = #{batchNumber},</if>
            <if test="castingData != null">casting_data = #{castingData},</if>
            <if test="beforeSawing != null">before_sawing = #{beforeSawing},</if>
            <if test="afterSawing != null">after_sawing = #{afterSawing},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="qualityJudgment != null">quality_judgment = #{qualityJudgment},</if>
            <if test="abnormalCause != null">abnormal_cause = #{abnormalCause},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where sawing_id = #{sawingId}
    </update>

    <delete id="deleteCysJqBySawingId" parameterType="String">
        delete from cys_jq where sawing_id = #{sawingId}
    </delete>

    <delete id="deleteCysJqBySawingIds" parameterType="String">
        delete from cys_jq where sawing_id in 
        <foreach item="sawingId" collection="array" open="(" separator="," close=")">
            #{sawingId}
        </foreach>
    </delete>
</mapper>