<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huaan.mes.md.mapper.CysKpMapper">
    
    <resultMap type="CysKp" id="CysKpResult">
        <result property="doublesidedId"    column="doublesided_id"    />
        <result property="doublesidedCode"    column="doublesided_code"    />
        <result property="workorderId"    column="workorder_id"    />
        <result property="workorderCode"    column="workorder_code"    />
        <result property="brand"    column="brand"    />
        <result property="batchNumber"    column="batch_number"    />
        <result property="deviceName"    column="device_name"    />
        <result property="spBeforeMilling"    column="sp_before_milling"    />
        <result property="spAfterMilling"    column="sp_after_milling"    />
        <result property="openBeforeWeight"    column="open_before_weight"    />
        <result property="openAfterWeight"    column="open_after_weight"    />
        <result property="rollingTime"    column="rolling_time"    />
        <result property="whetherCut"    column="whether_cut"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="qualityJudgment"    column="quality_judgment"    />
        <result property="abnormalCause"    column="abnormal_cause"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCysKpVo">
        select doublesided_id, doublesided_code, workorder_id, workorder_code, brand, batch_number, device_name, sp_before_milling, sp_after_milling, open_before_weight, open_after_weight, rolling_time, whether_cut, user_id, user_name, quality_judgment, abnormal_cause, remark, create_by, create_time, update_by, update_time from cys_kp
    </sql>

    <select id="selectCysKpList" parameterType="CysKp" resultMap="CysKpResult">
        <include refid="selectCysKpVo"/>
        <where>  
            <if test="doublesidedCode != null  and doublesidedCode != ''"> and doublesided_code = #{doublesidedCode}</if>
            <if test="workorderId != null "> and workorder_id = #{workorderId}</if>
            <if test="workorderCode != null  and workorderCode != ''"> and workorder_code = #{workorderCode}</if>
            <if test="brand != null  and brand != ''"> and brand = #{brand}</if>
            <if test="batchNumber != null  and batchNumber != ''"> and batch_number = #{batchNumber}</if>
            <if test="deviceName != null  and deviceName != ''"> and device_name like concat('%', #{deviceName}, '%')</if>
            <if test="spBeforeMilling != null "> and sp_before_milling = #{spBeforeMilling}</if>
            <if test="spAfterMilling != null "> and sp_after_milling = #{spAfterMilling}</if>
            <if test="openBeforeWeight != null "> and open_before_weight = #{openBeforeWeight}</if>
            <if test="openAfterWeight != null "> and open_after_weight = #{openAfterWeight}</if>
            <if test="rollingTime != null "> and rolling_time = #{rollingTime}</if>
            <if test="whetherCut != null  and whetherCut != ''"> and whether_cut = #{whetherCut}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="qualityJudgment != null  and qualityJudgment != ''"> and quality_judgment = #{qualityJudgment}</if>
            <if test="abnormalCause != null  and abnormalCause != ''"> and abnormal_cause = #{abnormalCause}</if>
        </where>
        ORDER BY create_time DESC
    </select>
    
    <select id="selectCysKpByDoublesidedId" parameterType="String" resultMap="CysKpResult">
        <include refid="selectCysKpVo"/>
        where doublesided_id = #{doublesidedId}
    </select>
        
    <insert id="insertCysKp" parameterType="CysKp" useGeneratedKeys="true" keyProperty="doublesidedId">
        insert into cys_kp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="doublesidedCode != null">doublesided_code,</if>
            <if test="workorderId != null">workorder_id,</if>
            <if test="workorderCode != null">workorder_code,</if>
            <if test="brand != null">brand,</if>
            <if test="batchNumber != null">batch_number,</if>
            <if test="deviceName != null">device_name,</if>
            <if test="spBeforeMilling != null">sp_before_milling,</if>
            <if test="spAfterMilling != null">sp_after_milling,</if>
            <if test="openBeforeWeight != null">open_before_weight,</if>
            <if test="openAfterWeight != null">open_after_weight,</if>
            <if test="rollingTime != null">rolling_time,</if>
            <if test="whetherCut != null">whether_cut,</if>
            <if test="userId != null">user_id,</if>
            <if test="userName != null">user_name,</if>
            <if test="qualityJudgment != null">quality_judgment,</if>
            <if test="abnormalCause != null">abnormal_cause,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="doublesidedCode != null">#{doublesidedCode},</if>
            <if test="workorderId != null">#{workorderId},</if>
            <if test="workorderCode != null">#{workorderCode},</if>
            <if test="brand != null">#{brand},</if>
            <if test="batchNumber != null">#{batchNumber},</if>
            <if test="deviceName != null">#{deviceName},</if>
            <if test="spBeforeMilling != null">#{spBeforeMilling},</if>
            <if test="spAfterMilling != null">#{spAfterMilling},</if>
            <if test="openBeforeWeight != null">#{openBeforeWeight},</if>
            <if test="openAfterWeight != null">#{openAfterWeight},</if>
            <if test="rollingTime != null">#{rollingTime},</if>
            <if test="whetherCut != null">#{whetherCut},</if>
            <if test="userId != null">#{userId},</if>
            <if test="userName != null">#{userName},</if>
            <if test="qualityJudgment != null">#{qualityJudgment},</if>
            <if test="abnormalCause != null">#{abnormalCause},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCysKp" parameterType="CysKp">
        update cys_kp
        <trim prefix="SET" suffixOverrides=",">
            <if test="doublesidedCode != null">doublesided_code = #{doublesidedCode},</if>
            <if test="workorderId != null">workorder_id = #{workorderId},</if>
            <if test="workorderCode != null">workorder_code = #{workorderCode},</if>
            <if test="brand != null">brand = #{brand},</if>
            <if test="batchNumber != null">batch_number = #{batchNumber},</if>
            <if test="deviceName != null">device_name = #{deviceName},</if>
            <if test="spBeforeMilling != null">sp_before_milling = #{spBeforeMilling},</if>
            <if test="spAfterMilling != null">sp_after_milling = #{spAfterMilling},</if>
            <if test="openBeforeWeight != null">open_before_weight = #{openBeforeWeight},</if>
            <if test="openAfterWeight != null">open_after_weight = #{openAfterWeight},</if>
            <if test="rollingTime != null">rolling_time = #{rollingTime},</if>
            <if test="whetherCut != null">whether_cut = #{whetherCut},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="qualityJudgment != null">quality_judgment = #{qualityJudgment},</if>
            <if test="abnormalCause != null">abnormal_cause = #{abnormalCause},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where doublesided_id = #{doublesidedId}
    </update>

    <delete id="deleteCysKpByDoublesidedId" parameterType="String">
        delete from cys_kp where doublesided_id = #{doublesidedId}
    </delete>

    <delete id="deleteCysKpByDoublesidedIds" parameterType="String">
        delete from cys_kp where doublesided_id in 
        <foreach item="doublesidedId" collection="array" open="(" separator="," close=")">
            #{doublesidedId}
        </foreach>
    </delete>
</mapper>